::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #35353590;
}

::-webkit-scrollbar-thumb:hover {
    background: #353535dd;
}

::selection {
    color: white;
    background-color: #3498db;
}