.nav {
    font-family: 'Poiret_One';
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    background-color: #f0f0f0;
}

.navbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.navbtn:hover {
    text-shadow: 3px 3px 7px #000000;
}