html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.duck {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    font-family: 'Ysabeau_SC';
    width: 100%;
}

.home {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 20%;
}

.home h1 {
    min-height: 43px;
}

.title {
    text-align: center;
    width: 200px;
}

.bg-l {
    position: fixed;
    rotate: 180deg;
    opacity: 0.2;
    transform: scaleX(-1);
    top: 30%;
    left: 20px;
    width: auto;
    max-width: 50%;
    z-index: -1;
}

.bg-r {
    position: fixed;
    rotate: 180deg;
    opacity: 0.2;
    top: 30%;
    right: 20px;
    width: auto;
    max-width: 50%;
    z-index: -1;
}

.contact {
    width: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20%;
    z-index: 0;
}

.contact h1 {
    align-self: center;
    justify-content: center;
}

.field {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.name-field {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

#comment {
    align-self: center;
    width: 100%;
    height: auto;
    min-height: 150px;
    background: white;
    text-align: left;
    padding: 5%;
    word-break: break-all;
    border: 1px solid #00000050;
}

#comment:empty::before {
    content: attr(data-content);
    opacity: 0.5;
    cursor: text;
}

#name {
    width: 100%;
    height: 35px;
}

#btn-field {
    font-weight: 800;
}

#btn-status {
    width: auto;
    font-weight: 900;
    color: red;
    border: 0;
    cursor: pointer;
}

.comment-tools {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #ffffffaa;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
}

.tools-active {
    background-color: #00000050;
}

.tools-hover {
    background-color: #00000020;
}

#comment:focus+.comment-tools {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.comment-tools .tools-blod {
    width: 30px;
    height: 30px;
    font-size: larger;
    font-weight: 800;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.comment-tools .tools-blod:active {
    background-color: #00000070;
}

.comment-tools .tools-i {
    width: 30px;
    height: 30px;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.comment-tools .tools-i:active {
    background-color: #00000070;
}

.comment-tools .tools-size {
    width: 30px;
    height: 30px;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.comment-tools .tools-size:active {
    background-color: #00000070;
}

.comment-tools .tools-size-num {
    width: 30px;
    height: 30px;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}