html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.duck {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.language-switch {
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 2;
    color: #0009;
    font-family: 'Ysabeau_SC', 'ZenMaruGothic-Light';
    cursor: pointer;
}

.language-switch:hover {
    color: #db5b5b;
}

.language-switch:active {
    color: #e4b1b1;
}


.content {
    font-family: 'Ysabeau_SC', 'ZenMaruGothic-Light';
    width: 100%;
}

.home {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}

.home h1 {
    min-height: 43px;
}

.title {
    align-self: center;
    word-break: break-word;
    text-align: center;
    width: 70dvw;
}

.bg-l {
    position: fixed;
    rotate: 180deg;
    opacity: 0.2;
    transform: scaleX(-1);
    top: 30%;
    left: 20px;
    width: auto;
    max-width: 50%;
    z-index: -1;
}

.bg-r {
    position: fixed;
    rotate: 180deg;
    opacity: 0.2;
    top: 30%;
    right: 20px;
    width: auto;
    max-width: 50%;
    z-index: -1;
}

.contact {
    width: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20%;
    z-index: 0;
}

.contact h1 {
    align-self: center;
    justify-content: center;
}

.field {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.field>* {
    margin-bottom: 5%;
}

.field>.name-field {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 100dvw;
    max-width: 545px;
}

.field>#textarea {
    align-self: center;
    width: 70dvw;
    max-width: 380px;
    height: auto;
    min-height: 150px;
    background: white;
    text-align: left;
    padding: 5%;
    word-break: break-all;
    border: 1px solid #00000050;
    font-size: 20px;
    font-family: 'Poiret_One', 'ZenMaruGothic-Light';
}

.field>#textarea:empty::before {
    content: attr(data-content);
    opacity: 0.5;
    cursor: text;
}

.field>.name-field>#name {
    width: 70%;
    padding: 5%;
    margin-left: 10%;
    border: 1px solid #00000050;
    font-size: 16px;
    font-family: 'Poiret_One', 'ZenMaruGothic-Light';
}

#btn-field {
    font-weight: 800;
}

#btn-status {
    width: auto;
    font-weight: 900;
    color: green;
    border: 0;
    cursor: pointer;
}

.textarea-tools {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #ffffffaa;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
}

.tools-active {
    background-color: #00000050;
}

.tools-hover {
    background-color: #00000020;
}

#textarea:focus+.textarea-tools {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.textarea-tools .tools-blod {
    width: 30px;
    height: 30px;
    font-size: larger;
    font-weight: 800;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.textarea-tools .tools-blod:active {
    background-color: #00000070;
}

.textarea-tools .tools-i {
    width: 30px;
    height: 30px;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.textarea-tools .tools-i:active {
    background-color: #00000070;
}

.textarea-tools .tools-size {
    width: 30px;
    height: 30px;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.textarea-tools .tools-size:active {
    background-color: #00000070;
}

.textarea-tools .tools-size-num {
    width: 30px;
    height: 30px;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.error {
    border: 1px solid #d93025;
    border-radius: 3px;
}

.error+#error-name-txt {
    display: block;
}

.error+#error-textarea-txt {
    display: block;
}

#error-name-txt {
    font-size: 12px;
    color: #d93025;
    text-align: left;
    display: none;
    margin-left: 10%;
}

#error-textarea-txt {
    font-size: 12px;
    color: #d93025;
    text-align: left;
    display: none;
    margin-left: 10%;
}

.contact #post {
    font-family: 'Ysabeau_SC', 'ZenMaruGothic-Light';
    font-size: large;
    border: 1px solid #c0c0c0;
    background-color: #f8f8f8;
    padding: 5px;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}

.contact #post:active {
    border: 1px dashed #c0c0c0;
    background-color: transparent;
}

#comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#comments>* {
    margin-top: 10px;
}

#comments>.comments-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    min-width: 150px;
    max-width: 350px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 10px #00000020;
    cursor: pointer;
}

#comments>.comments-container:hover {
    box-shadow: 5px 5px 15px #00000030;
}

#comments>.comments-container>.comments-name {
    font-family: 'Poiret_One', 'ZenMaruGothic-Light';
    letter-spacing: 1px;
    font-size: 20px;
    word-break: break-word;
    font-weight: bolder;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #e0e0e0;
}

#comments>.comments-container>.comments-content {
    width: 100%;
    word-break: break-word;
    background-color: #e2e2e2;
}

#comments>.comments-container>.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#comments>.comments-container>.button-container>button {
    border: 0px solid #ffffff;
    padding: 10px;
}

#comments>.comments-container>.button-container>button:hover {
    background-color: #f36f6f;
}

#comments>.comments-container>.button-container>button:active {
    background-color: #db5b5b;
}

.other-info {
    margin: 30px 10px 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-info>a {
    color: #000;
}

.other-info>a:hover {
    color: #f36f6f;
}