::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    border-radius: 7px;
    color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #35353570;
    border-radius: 15px;
    background-clip: content-box;
    border: 5px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #353535aa;
    background-clip: content-box;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
}