html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.duck {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    font-family: 'Poiret_One';
    width: 100%;
    padding-top: 80px;
}

.home {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 20%;
}

.title {
    text-align: center;
    height: 50vh;
}

.bg-l {
    position: fixed;
    rotate: 180deg;
    opacity: 0.2;
    transform: scaleX(-1);
    top: 30%;
    left: 20px;
    width: auto;
    max-width: 50%;
    z-index: -1;
}

.bg-r {
    position: fixed;
    rotate: 180deg;
    opacity: 0.2;
    top: 30%;
    right: 20px;
    width: auto;
    max-width: 50%;
    z-index: -1;
}

.contact {
    width: auto;
    max-width: 80%;
    height: 100vh;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 20%;
    z-index: 0;
}